@use './base'
@use './components/Header'
@use './components/Footer'

.Home-wrapper
  .Home-main
    width: 100%
    
    .Home-main-menu-wrapper
      display: flex
      justify-content: center
      margin-top: 1.3rem
      padding-bottom: 15rem

      ul
        width: 40%
        background: purple
        display: flex
        justify-content: space-between
        list-style-type: none

    